GROQ_API_KEY=
GROQ_MODEL=
DATABASE_URL = 
OCR_MODEL= 

ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=

ELEVEN_LABS_API_KEY=
ELEVEN_LABS_MODEL_ID=
ELEVEN_LABS_VOICE_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_ACCOUNT_ID=
GOOGLE_PROJECT_ID=
GOOGLE_PRIVATE_KEY_ID=
GOOGLE_PRIVATE_KEY=
GOOGLE_CLIENT_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_TOKEN_URI=
GOOGLE_CALENDAR_ID=
GOOGLE_CALENDAR_OWNER_EMAIL=
CHROMA_HOST=
CHROMA_PORT=
LANGGRAPH_CHECKPOINT_DB_URL = 
OPENAI_API_KEY=
AGENT_TIMEZONE=
JWT_KEY = 
JWT_ALGORITHM = 
REDIS_HOST = 
REDIS_PORT = 
WHATSAPP_TOKEN=
WHATSAPP_PHONE_ID=
WHATSAPP_VERIFY_TOKEN=
VITE_API_URL=
